.cart {
    position: fixed;
    right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
    padding: 15px;
}

@media(min-width: 767px) {
    .cart {
        top: 85px;
        bottom: unset;
    }
}