.backed {
    position: fixed;
    top: 25%;
    left: 30%;
    width: 650px;
    max-width: 95%;
    border-radius: 5px;
    animation: show 1000ms ease-in-out;
}

@media(max-width: 767px) {
    .backed {
        left: 3%;
    }
}

.close-backed {
    position: absolute;
    cursor: pointer;
    top: 1.8rem;
    right: 1.5rem;
}

.edit-button {
    position: absolute;
    cursor: pointer;
    right: 1.3rem;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}